@import url('https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro&display=swap');
$Lato: 'Lato', sans-serif;   
$SourceSansPro: 'Source Sans Pro', sans-serif;
$primaryColor: #6B6AFF;
$bacgroundColor:#89BBF3;
$cardColor:#091F40;
$cardDarkColor:#22354E;



@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin radius(){
  border-radius:20px;
}

html,body{
  height: 100%;
}
body {
    font-family: $Lato;
    color:white;
    background-color: $bacgroundColor;
    
    margin:0;
    padding:0;
   justify-content: center;
    align-items: center;
    display: flex;
  }
  .line{
    width:90%;
    border:none;
    border-top:2px solid $cardDarkColor;
    margin-bottom: 2em;
   
  }
  .wrapper{
    width:60%;
    min-height: 600px;
    min-width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $cardColor;
    color:white;
    @include radius();
    @include box-shadow( 0,10px,40px,rgba(0, 0, 0, 0.50));
    h1{
      font-size: 4em;
      text-align: center;
    }
  }
  .passwordContainer{
    background-color:$cardDarkColor;
    @include radius();
    width:90%;
    min-height: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;

    &:hover{
      background-color: rgba(34, 53, 78, 0.8);
      cursor: pointer;
    }
  h3{
    margin-bottom:0;
  }
  h2{
    text-align: center;
    font-size: 1rem;
  }
  }
  .options{
    display: flex;
    flex-direction: column;
    width:80%;
    align-items: center;
    justify-content: center;
  }
  .container{
    text-align: center;
    display: flex;
    align-items: center;
    width:100%;
    justify-content: center;
    p{
      margin-right: 5px;
    }
  }
 
 #rangeDigit{
   min-width: 20px;
   margin-left:1em;
   color:white;
 }
 .buttonGenerate {
  background-color: $cardDarkColor;
  color: white;
  border-radius: 20px;
  border:none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px; 
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover{
    background-color: $primaryColor;
  }
}


